<% include partials/header%>
<h1>Catchments in the <a href="https://nrfa.ceh.ac.uk/peak-flow-dataset" target="blank">HiFlows database (Version 6)</a></h1>
<table id="catchmentsTable">
<thead>
    <tr>
        <th>Station number</th>
        <th>Station name</th>
        <th>Station comments</th>
        <th>Catchment comments</th>
        <th>QMED comments</th>
        <th>Pooling comments</th>
        <th>View AMAX data</th>
    </tr>
</thead>
<tbody>
<% catchments.forEach(function(item){ %>
<tr>
<td><%=item.stationnum %></td> 
<td><%=item.stname %></td>
<td><%=item.station_comments %></td>
<td><%=item.catchment_comments %></td>
<td><%=item.qmed_comments %></td>
<td><%=item.pooling_comments %></td>
<td><a href="/api/catchments/<%= item.stationnum %>">Click to check AMAX data</a></td>
</tr>
<% }); %>
</tbody>
</table>
<% include partials/footer%>